*, html, body, ul, ol *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.notification-wrapper {
  position: fixed;
  bottom: 0px;
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: 0px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 10010;
}
.notification-wrapper.show {
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.notification-wrapper.show2 {
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.notification-wrapper .notification-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #9a0a0a;
}
.notification-wrapper .notification-container.sucess {
  background: green;
}
.notification-wrapper .notification-container.proceed {
  background: #6e6e6e;
}
.notification-wrapper .notification-container .i {
  width: 40px;
  height: 40px;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.notification-wrapper .notification-container .i div {
  width: 30px;
  height: 30px;
  background: url("../img/svg/information-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.notification-wrapper .notification-container .notification-text {
  position: relative;
  padding: 10px 15px;
  background: transparent;
  font-size: smaller;
  text-align: center;
  color: white;
}

.auth-form form .form-cell {
  position: relative;
  margin-bottom: 20px;
}
.auth-form form .form-cell input {
  color: black;
}
.auth-form form .form-cell .department-preview {
  position: relative;
  width: 100%;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.auth-form form .form-cell .department-preview .department-card {
  position: relative;
  padding: 5px 10px;
  background: #086461;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-right: 6px;
}
.auth-form form .form-cell .department-preview .department-card .depart-content {
  color: white;
  font-size: smaller;
}
.auth-form form .form-cell .department-preview .department-card .depart-close-button {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/svg/close-white.svg");
  background-size: cover;
}
.auth-form form .form-cell .preview-company-wrapper {
  position: relative;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: grey;
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
}
.auth-form form .form-cell .preview-company-wrapper.show {
  display: flex;
  flex-direction: column;
}
.auth-form form .form-cell .preview-company-wrapper li {
  font-size: smaller;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  color: white;
}
.auth-form form .form-cell .preview-company-wrapper li .i {
  width: 30px;
  height: 25px;
  background: whitesmoke;
  margin-right: 6px;
}
.auth-form .logo-wrapper {
  position: relative;
  top: 0px;
}
.auth-form .logo-wrapper .logo-img-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.auth-form .logo-wrapper .logo-img-wrapper img {
  width: 60px;
  height: 50px;
  background: grey;
  margin-right: 10px;
  margin-bottom: 20px;
}
.auth-form .logo-wrapper .logo-img-wrapper div {
  color: white;
  font-weight: bolder;
  font-size: 20px;
}

.purchases-form-wrapper .purchases-form-container .cells .row .col-form-label .text-danger {
  visibility: visible;
  opacity: 1;
}
.purchases-form-wrapper .purchases-form-container .cells .row .col-form-label .text-danger.hide {
  visibility: hidden;
  opacity: 0;
}
.purchases-form-wrapper .purchases-form-container .cells .purchases-button-wrapper .ms-auto {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.loading-gif {
  width: 40px;
  height: 40px;
  background: transparent;
  background-image: url("../img/gif/Dual_Bal_red_black.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  visibility: hidden;
  opacity: 0;
}
.loading-gif.show {
  visibility: visible;
  opacity: 1;
}