*, html, body, ul, ol *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  background: #2e2e2e;
  color: white;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.notification-wrapper {
  position: fixed;
  bottom: 0px;
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: 0px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  opacity: 0;
  visibility: hidden;
}
.notification-wrapper.show {
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.notification-wrapper.show2 {
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.notification-wrapper .i {
  width: 40px;
  height: 40px;
  background: #9a0a0a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.notification-wrapper .i div {
  width: 30px;
  height: 30px;
  background: url("../img/svg/information-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.notification-wrapper .notification-text {
  position: relative;
  padding: 10px 15px;
  background: #9a0a0a;
  font-size: smaller;
  text-align: center;
}

.auth-form form .form-cell {
  position: relative;
  margin-bottom: 20px;
}
.auth-form form .form-cell input {
  color: black;
}
.auth-form form .form-cell .department-preview {
  position: relative;
  width: 100%;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.auth-form form .form-cell .department-preview .department-card {
  position: relative;
  padding: 5px 10px;
  background: #086461;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-right: 6px;
}
.auth-form form .form-cell .department-preview .department-card .depart-content {
  color: white;
  font-size: smaller;
}
.auth-form form .form-cell .department-preview .department-card .depart-close-button {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/svg/close-white.svg");
  background-size: cover;
}
.auth-form form .form-cell .preview-company-wrapper {
  position: absolute;
  bottom: -20px;
  width: 100%;
  background: grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.auth-form form .form-cell .preview-company-wrapper.show {
  visibility: visible;
}
.auth-form form .form-cell .preview-company-wrapper li {
  font-size: smaller;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.auth-form form .form-cell .preview-company-wrapper li .i {
  width: 25px;
  height: 25px;
  background: red;
  margin-right: 6px;
}
.auth-form .logo-wrapper {
  position: relative;
  top: 0px;
}
.auth-form .logo-wrapper .logo-img-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.auth-form .logo-wrapper .logo-img-wrapper img {
  width: 60px;
  height: 50px;
  background: grey;
  margin-right: 10px;
  margin-bottom: 20px;
}
.auth-form .logo-wrapper .logo-img-wrapper div {
  color: white;
  font-weight: bolder;
  font-size: 20px;
}