<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <!-- Meta -->
	<%- include ("../partial/meta-description.ejs") %>

    <!-- Title -->
	<title>Welly - Django Hospital Admin Dashboard Bootstrap Template</title>

    <!-- General css -->
    <%- include ("../partial/meta-css.ejs") %>
</head>

<body class="h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
										<a href="index.html"><img src="images/" alt=""></a>
									</div>
                                    <h4 class="text-center mb-4 text-white">F-Password-Confirm</h4>
                                    <form action="https://welly.dexignzone.com/django/xhtml/index.html">
                                        <div class="form-group">
                                            <label class="text-white"><strong>New Password</strong></label>
                                            <input type="password" class="form-control" value="hello@example.com">
                                        </div>
                                        <div class="form-group">
                                            <label class="text-white"><strong>Confirm Password</strong></label>
                                            <input type="password" class="form-control" value="hello@example.com">
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn bg-white text-primary btn-block">SUBMIT</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--**********************************
        Scripts
    ***********************************-->
    <!-- General js -->
    <%- include ("../partial/meta-js.ejs") %>

</body>
</html>