<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
   <!-- Meta -->
	<%- include ("../partial/meta-description.ejs") %>
    <!-- Title -->
	<title>Welly - Django Hospital Admin Dashboard Bootstrap Template</title>
    <!-- General css -->
    <%- include ("../partial/meta-css.ejs") %>
</head>

<body class="h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form otp-wrapper">
                                    <div class="form-alert-wrapper">
                                        <div class="i"></div>
                                        <div class="alert-text"> Alert </div>
                                    </div>
									<div class="text-center mb-3">
										<a href="dashboard.ejs"><img src="/frontend/images/" alt=""></a>
									</div>
                                    <h4 class="text-center mb-4 text-white">OTP Verification</h4>
                                    <form class="otp-form-wrapper" action="<% if (context !== undefined) { %><%- context.otp_url %><% } %>" method="post">
                                        <div class="form-group">
                                            <label class="text-white"><strong>OTP</strong></label>
                                            <input type="text" class="form-control otp-input" name="otp" value="">
                                        </div>
                                        <div class="text-center otp-form-button">
                                            <button type="submit" class="btn bg-white text-primary btn-block">SUBMIT</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--**********************************
        Scripts
    ***********************************-->
    
    <script src="/frontend/js/otp-verification.js"></script>
    <!-- General js -->
    <%- include ("../partial/meta-js.ejs") %>
    

</body>


<!-- Mirrored from welly.dexignzone.com/django/xhtml/page-forgot-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 20 Feb 2024 11:24:00 GMT -->
</html>