@import "./variables.scss";
@import "./reset.scss";

.notification-wrapper {
    position: fixed;
    bottom: 0px;
    background: transparent;
    width: 100%;
    @include flex(row, center, center);
    left: 0px;
    @include trans-05s;
    opacity: 0;
    visibility: hidden;
    z-index: 10010;

    &.show {
        opacity: 1;
        visibility: visible;
        @include trans-05s;
    }
    &.show2 {
        opacity: 1;
        visibility: visible;
        @include trans-05s;
    }

    .notification-container {
        @include flex(row, center, center);
        background:  #9a0a0a;

        &.sucess { background: green; }
        &.proceed { background: #6e6e6e; }
    
        .i {
            width: 40px;
            height: 40px;
            background: transparent;
            @include flex(row, center, center);
            
            div {
                width: 30px;
                height: 30px;
                background: url("../img/svg/information-white.svg");
                @include background-initializer;
                background-size: cover;
                
            }
        }
        .notification-text {
            position: relative;
            padding: 10px 15px;
            background: transparent;
            font-size: smaller;
            text-align: center;
            color: white;
        }
    }
}
.auth-form {
    form {
        .form-cell {
            position: relative;
            margin-bottom: $margin-s;
            input {
                color: black;
            }
            .department-preview {
                position: relative;
                width: 100%;
                background: transparent;
                @include flex(row, center, center);
                flex-wrap: wrap;

                .department-card {
                    position: relative;
                    padding: 5px 10px;
                    background: #086461;
                    @include flex(row, space-between, center);
                    @include border-10;
                    margin-right: $margin-xvss;

                    .depart-content {
                        color: white;
                        font-size: smaller;
                    }
                    .depart-close-button {
                        width: 20px;
                        height: 20px;
                        margin-left: $margin-vs;
                        @include background-initializer;
                        background-image: url("../img/svg/close-white.svg");
                        background-size: cover;
                    }
                }
            }
            .preview-company-wrapper {
                position: relative;
                bottom: 0px;
                left: 0px;
                width: 100%;
                background: grey;
                display: none;
                justify-content: flex-start;
                align-items: flex-start;
                
                &.show {
                    display: flex;
                    flex-direction: column;
                } 
                li {
                    font-size: smaller;
                    @include flex(row, center, center);
                    margin-right: $margin-s;
                    color: white;

                    img {
                        width: 30px;
                        height: 25px;
                        background: whitesmoke;
                        margin-right: $margin-xvss;
                    }
                }
            }
        }
    }
    .logo-wrapper {
        position: relative;
        top: 0px;
        
        .logo-img-wrapper {
            position: relative;
            @include flex(row, center, center);
            
            img {
                width: 60px;
                height: 50px;
                background: grey;
                margin-right: $margin-vs;
                margin-bottom: $margin-s;
            }
            div {
                color: white;
                font-weight: bolder;
                font-size: $font-vl;
            }
        }
    }
}
.otp-form-button {
    @include flex(row, center, center);
    button { margin: 5px; &:hover { background: black; }}
    
}

// FOR PURCHASES SECTION
.purchases-form-wrapper {
    .purchases-form-container {
        .cells {
            .row {  
                .col-form-label {
                    .text-danger {
                        visibility: visible;
                        opacity: 1;
                        
                        &.hide {
                            visibility: hidden;
                            opacity: 0;
                        }
                    }
                }
            }
            .purchases-button-wrapper {
                .ms-auto {
                    @include flex(row, flex-start, center);
                }
            }
        }
    }
}
.loading-gif {
    width: 40px;
    height: 40px;
    background: transparent;
    background-image: url("../img/gif/Dual_Bal_red_black.gif");
    @include background-initializer;
    background-size: cover;
    visibility: hidden;
    opacity: 0;

    &.show { visibility: visible; opacity: 1; } 
}
//  FOR PURCHASES PREIVEW
.purchases-buttons-wrapper {
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    padding-left: 0px;
    background: whitesmoke;
    width: 100%;
    z-index: 1000;
    @include flex(row, center, center);
    @include transformY(1000px);
    opacity: 0;
    visibility: hidden;
    @include trans-05s;

    &.show-buttons {
        @include transformY(0px);
        opacity: 1;
        visibility: visible;
        @include trans-05s;
    }

    .purchases-button-container {
        .edit { 
            visibility: visible;
            opacity: 1;
            &.hide { 
                visibility: hidden;
                opacity: 0;
            }
        }
        .delete { 
            visibility: visible;
            opacity: 1;
            &.hide { 
                visibility: hidden;
                opacity: 0;
            }
        }
    }
}

.overall-body {
    position: relative;

    .overlay-page-wrapper {
        position: fixed;
        top: 4rem;
        left: 0rem;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.709);
        z-index: 3;
        display: none;

        &.show {
            @include flex(column, center, center);
        }

        .overlay-page-container {
            position: absolute;
            background: whitesmoke;
            width: 70%;
            margin: 5%;
            right: 0rem;
            @include transformY(-100px);
            visibility: hidden;
            opacity: 0;

            &.show {
                @include transformY(0);
                visibility:  visible;
                opacity: 1;
                @include trans-05s;
            }

            .overlay-header-wrapper {
                @include flex(row, center, center);
                margin: 20px;

                h4 {
                    #header-item-code { 
                        padding: 5px 10px; 
                        color: white; 
                        background: grey; 
                    }
                }
            }
            .overlay-close-button {
                position: absolute;
                right: 10px;
                top: 10px;
                width: 30px;
                height: 30px;
                background: grey;
                @include background-initializer;
                background-size: contain;
                background-image: url("../img/svg/close-white.svg");
                cursor: pointer;
            }

            .purchases-form-wrapper {
                margin: 20px;
            }
        }
    }
    .auth-page-wrapper {
        position: fixed;
        top: 4rem;
        left: 0rem;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.709);
        z-index: 10;
        display: none;

        &.show {
            @include flex(column, center, center);
        }

        .auth-page-container {
            position: absolute;
            background: whitesmoke;
            width: 70%;
            margin: 5%;
            right: 0rem;
            @include flex(column, flex-start, center);
            padding: 50px;
            @include transformY(-100px);
            visibility: hidden;
            opacity: 0;

            &.show {
                @include transformY(0);
                visibility:  visible;
                opacity: 1;
                @include trans-05s;
            }

            .auth-close-button {
                position: absolute;
                right: 10px;
                top: 10px;
                width: 30px;
                height: 30px;
                background: grey;
                @include background-initializer;
                background-size: contain;
                background-image: url("../img/svg/close-white.svg");
                cursor: pointer;
            }

            .auth-content {
                @include flex(column, center, center);
                position: relative;

                .auth-input-wrap {
                    @include flex(row, space-between, center);
                    padding: 10px 20px;

                    .i {
                        padding: 10px 20px;
                        width: 30px;
                        height: 30px;
                        @include background-initializer;
                        background-size: cover;
                        background-image: url("../img/svg/key-black.svg");
                        margin-right: 5px;
                    }
                    input {
                        padding: 10px 20px;
                        border: 5px solid grey;
                        outline: none;
                        text-align: center;
                    }    
                }
                .auth-page-button {
                    padding: 10px 20px;
                    border: none;
                    outline: none;
                    background: grey;
                    color: white;

                    &:hover { background: #252424c8; }
                }
            }
        }
    }
}



.tb-wrapper {
    .tb-body-wrapper {
        position: relative;

        .empty-preview-wrapper {
            position: absolute;
            top: 0px;
            background: whitesmoke;
            width: 100%;
            @include flex(row, center, center);
            padding: 20px;
            z-index: 3;
        }
        .each-list-cell {
            background: transparent;
            &.selected { background: #ffd3d3 }

            td { text-align: center }
        }
    }

}

// END