@import "./variables.scss";
@import "./reset.scss";

.notification-wrapper {
    position: fixed;
    bottom: 0px;
    background: transparent;
    width: 100%;
    @include flex(row, center, center);
    left: 0px;
    @include trans-05s;
    opacity: 0;
    visibility: hidden;

    &.show {
        opacity: 1;
        visibility: visible;
        @include trans-05s;
    }
    &.show2 {
        opacity: 1;
        visibility: visible;
        @include trans-05s;
    }

    .i {
        width: 40px;
        height: 40px;
        background:  #9a0a0a;
        @include flex(row, center, center);
        
        div {
            width: 30px;
            height: 30px;
            background: url("../img/svg/information-white.svg");
            @include background-initializer;
            background-size: cover;
            
        }
    }
    .notification-text {
        position: relative;
        padding: 10px 15px;
        background: #9a0a0a;
        font-size: smaller;
        text-align: center;
    }
}
.auth-form {
    form {
        .form-cell {
            position: relative;
            margin-bottom: $margin-s;
            input {
                color: black;
            }
            .department-preview {
                position: relative;
                width: 100%;
                background: transparent;
                @include flex(row, center, center);
                flex-wrap: wrap;

                .department-card {
                    position: relative;
                    padding: 5px 10px;
                    background: #086461;
                    @include flex(row, space-between, center);
                    @include border-10;
                    margin-right: $margin-xvss;

                    .depart-content {
                        color: white;
                        font-size: smaller;
                    }
                    .depart-close-button {
                        width: 20px;
                        height: 20px;
                        margin-left: $margin-vs;
                        @include background-initializer;
                        background-image: url("../img/svg/close-white.svg");
                        background-size: cover;
                    }
                }
            }
            .preview-company-wrapper {
                position: absolute;
                bottom: -20px;
                width: 100%;
                background: grey;
                @include flex(row, center, center);
                flex-wrap: wrap;
                //visibility: hidden;
                
                &.show {
                    visibility: visible;
                    
                } 
                li {
                    font-size: smaller;
                    @include flex(row, center, center);
                    margin-right: $margin-s;

                    .i {
                        width: 25px;
                        height: 25px;
                        background: red;
                        margin-right: $margin-xvss;
                    }
                }
            }
        }
    }
    .logo-wrapper {
        position: relative;
        top: 0px;
        
        .logo-img-wrapper {
            position: relative;
            @include flex(row, center, center);
            
            img {
                width: 60px;
                height: 50px;
                background: grey;
                margin-right: $margin-vs;
                margin-bottom: $margin-s;
            }
            div {
                color: white;
                font-weight: bolder;
                font-size: $font-vl;
            }
        }
    }
}